@{
    ViewBag.Title = "Contact";
    
}
<p>
    <address>
        Doris Duke Medical Research Institute (DDMRI)<br />
        University of KwaZulu-Natal, Private Bag X7, Congella 4013<br />
        <abbr title="Phone">T:</abbr>
        +27 31 260 4555 &nbsp;|&nbsp; <abbr title="Fax">F:</abbr> +27 31 260 4549
    </address>

    <address>
        <strong>Website:</strong>   <a href="http://www.caprisa.org">Caprisa Website</a><br />
        <strong>Email:</strong> <a href="mailto:caprisa@caprisa.org">caprisa@caprisa.org</a>
    </address>
</p>